{{ define "anti-prefill" }}
<input type="text" name="hack_username" value="john" style="position: absolute; top: -10000px;" />
<input type="email" name="hack_email" value="noreply@something.com" style="position: absolute; top: -10000px;" />
<input type="password" name="hack_password" value="nopassword" style="position: absolute; top: -10000px;" />
{{ end }}