<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Gist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="col-8 offset-2 col-md-8 offset-md-2 col-sm-8 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            {{ if .Data.Error }}
                <div class="alert alert-danger data-gist-password-error">{{ .Data.Error }}</div>
            {{ end }}

            <form method="post" novalidate>
                <input type="hidden" name="csrf" value="{{ .CSRF }}" />
                <div class="form-group">
                    <label for="password">{{ t "Gist password" . }}</label>
                    <input class="form-control" type="password" name
