<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    :root {
      --color-1: #C0EBFF;
      --color-2: #9EC1D2;
      --color-3: #B1D9EC;
      --color-4: #B3DCEE;
      --color-5: #AFD6E9;
      --color-6: #A3C8D9;
      --color-7: #98BACA;
      --color-8: #8DADBB;
      --color-9: #738E9A;
      --color-10: #93B4C3;
      --color-11: #B4DDEF;
      --color-12: #96B8C8;
      --color-13: #6C848F;
      --color-14: #6C8590;
      --color-15: #5F757E;
      --color-16: #5F757F;
      --color-17: #617781;
      --color-18: #88A7B5;
      --color-19: #89A7B5;
      --color-20: #98BAC9;
      --color-21: #ACD3E4;
      --color-22: #9CBFCF;
      --color-23: #7F9CAA;
      --color-24: #7A96A3;
      --color-25: #7B97A4;
      --color-26: #7C97A4;
      --color-27: #728B97;
      --color-28: #BCE6FA;
      --color-29: #708A96;
      --color-30: #68808B;
      --color-31: #6E8792;
      --color-32: #BDE8FB;
      --color-33: #AED5E7;
      --color-34: #94B5C5;
      --color-35: #97B9C9;
      --color-36: #A1C5D5;
      --color-37: #96B8C7;
      --color-38: #87A5B3;
      --color-39: #A0C4D4;
      --color-40: #AAD0E2;
      --color-41: #B8E1F4;
      --color-42: #B5DEF1;
      --color-43: #A7CDDE;
      --color-44: #97BAC9;
      --color-45: #8FAFBE;
      --color-46: #8EAFBE;
      --color-47: #A2C7D8;
      --color-48: #B8E1F5;
      --color-49: #75909C;
      --color-50: #9DBFD0;
      --color-51: #7B96A3;
      --color-52: #809CAA;
      --color-53: #7893A0;
      --color-54: #92B3C2;
      --color-55: #9ABCCC;
      --color-56: #B9E2F5;
      --color-57: #B0D7EA;
      --color-58: #A9CFE1;
      --color-59: #A0C4D5;
      --color-60: #92B2C2;
      --color-61: #9BBECE;
      --color-62: #BBE5F9;
      --color-63: #BFE9FD;
      --color-64: #B7E0F3;
      --color-65: #8EADBD;
      --color-66: #728C98;
      --color-67: #C0EAFE;
      --color-68: #BDE7FB;
      --color-69: #9DC0D0;
      --color-70: #A9D0E1;
      --color-71: #92B4C3;
      --color-72: #9FC2D3;
      --color-73: #B2DAEC;
      --color-74: #B9E3F6;
      --color-75: #95B7C6;
      --color-76: #677E89;
      --color-77: #7D9AA7;
      --color-78: #7B97A3;
      --color-79: #6C8591;
      --color-80: #647B86;
      --color-81: #8FB0BF;
      --color-82: #B1D9EB;
      --color-83: #B4DCEF;
      --color-84: #ADD3E5;
      --color-85: #94B4C4;
      --color-86: #AFD7E9;
      --color-87: #ADD4E6;
      --color-88: #8DADBC;
      --color-8
