<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/public/img/favicon.ico" rel="icon" type="image/x-icon" />
        <meta charset="UTF-8" />
        <meta name="author" content="n0tr1v">
        <meta name="robots" content="all" />
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <title>DarkForest - Maintenance</title>
        <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css" />
        <script src="/public/js/jquery-3.2.1.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" style="margin-top:40px">
            <div class="row">
                <div class="col-8 offset-2 col-md-8 offset-md-2 col-sm-8 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <strong>Maintenance</strong>
                        </div>
                        <div class="card-body">
                            <p>
                                The website is down for maintenance.<br />
                                We will be back in a minute.
                            </p>
                        </div>
                        <div class="card-footer">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
