{{ define "title" }}dkf - news{{ end }}

{{ define "content" }}

<div class="container">

    <div>
        <h3>DKF open source</h3>
        <div class="mb-3"><time datetime="2021-11-13 00:00">Nov 09, 2022</time></div>

        <pre><code>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

The whole website is now open source.
http://yylovpz7taca7jfrub3wltxabzzjp34fngj5lpwl6eo47ekt5cxs6mid.onion/n0tr1v/dkforest

n0tr1v
November 09, 2022
-----BEGIN PGP SIGNATURE-----

iQJKBAEBCgA0FiEE3S3HW3iM8WGcvoEDCGw7Mt+VsJEFAmNr9q8WHG4wdHIxdkBw
cm90b25tYWlsLmNvbQAKCRAIbDsy35WwkYJnEACoEaw1cWQMekytA5pRy5So4wJF
+dgLGAfx9xsuf6eAUjN1XCt6xn1x+pZWkJJa1qmc3N4m+xl0u6qmLYUgK6RRCpLS
Q/l1H0arU+P1WZ9V9OqSEXGEJVSVFhB087LxnRu/3JP6QP8uVF6vG6k2rMfYj67U
pnSF6Ne3W9LflVARRSYKFx6xY7/hMMrJkrW0NNcGTXLpKQNJmPJ4PFjWMLcEqQpx
FjWDoPlKEh0TjseOn7ICTYZy/pNrV2hUFlyTXop0jgTgtBKZA3YFRlkr6vC0i0Sv
NVAEminNAjkiEZImGastbwVFKyWdoyj7y4nnix6PolzGI9vI/Q0DiIJnwfA9mtd7
oa4UWnZrUZKwd+fWre1ZA7CoT9cLMB71PYnLv7W4SdHPbOU75cOFz7l0EQNgYC3+
aGAnDABYGlVHbAZSZTAojH+DUnzcSqnLxAusPAJIRouMLxwkPglf1lF9FW/pkXDy
PLvKSTc3cbYszMLkWBG1Eehwtu8vGIRqO4BLCN4SshNCj1hQ7Aa6NMx4cZRB7p4v
giWRmgToElipYQ2TWfrjRL8mCbh23A4v1GywyVp0x3n07ujCuGGBXkig82pJID3i
lpxRc5XN8NxZ2fShU3Ht7rJFkrE+eK18sEzsdFU7rEVsaZ65nOV+XP2dWGXiwOE+
r2itkExEY7nVQvO7aA==
=7ki1
-----END PGP SIGNATURE-----</code></pre>
    </div>

    <div>
        <h3>April fools day</h3>
        <div class="mb-3"><time datetime="2021-11-13 00:00">Apr 01, 2022</time></div>

        <pre><code>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

No, the website was not seized by law enforcement on April first.
Happy fools day.
n0tr1v
April 1, 2022
-----BEGIN PGP SIGNATURE-----

iQJKBAEBCgA0FiEE3S3HW3iM8WGcvoEDCGw7Mt+VsJEFAmJH8FwWHG4wdHIxdkBw
cm90b25tYWlsLmNvbQAKCRAIbDsy35WwkbOjEACNhXQW0zn9oJ0oX/JOE4p4QbQx
EsL/uMtc1y21QBHDIqLWHf1wzuNcoG6eaf912CE/QaUI+crAscILxIflEnHSU/ns
Y9jiOWvk6FqFp3fZQUuetCzA4pHGNW6LjUK5kfXpzC3hvNKAEDW4hDCN7SoNMBiu
UNHTr0K2oFwFN/OqzaBCdUJlXG8GKa1vIdsdrD434rbd+z5YESvrlyFm2wX/XGIY
SFkU9CZ+zjDCf6Al64mFwjET/RaEVBM9wuCCbrC8xrXBK6CzP+phyTWnAAIoXIBA
PxADb/4qqW6ddsV2/UizYlQOjBjydzMzbzVGRPn39fHoH4Jl+MG5EsH9CQME7595
3Q/5GnAiBf+rHmO1zbx0okaeA4RGExGbr4FY7L1hbqqRz6AtA/ee7xGiibTjWmdR
R24c0qYkUi1HXDS3FTl/s8p5X19xq5MeacyPGsT97lhd2n99KGQLAn597uZIsYRp
FfFYbPuQ7Cau35KQOuMz6bNzKBpYf7E7j2eFWxpihEVtBBk5B0gMriodpSKh84RR
1o46UREx4gptsu38Y3oHfi337acQx+e473l256zgGpvUrczfZ4GcmcBjG8bu9ztE
li0YMg7CV+oyMt8nM8KOMuaE+sQn6AaeOuXSKi1zpwEfn+HNEilfP2Q8RVQidZFg
w9V4ZAVL8/E2afq7UQ==
=dvtF
-----END PGP SIGNATURE-----</code></pre>

    </div>

    <hr class="mt-5 mb-5" />
    <div>
        <h3>New challenge: ByteRoad captcha bypass</h3>
        <div class="mb-3"><time datetime="2021-11-13 00:00">Nov 13, 2021</time></div>

        <pre><code>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

New challenge in the VIP section.
The goal is to bypass the captcha and register 100 accounts within 5 minutes.
http://dkforestseeaaq2dqz2uflmlsybvnq2irzn4ygyvu53oazyorednviid.onion/vip/challenges/byte-road
-----BEGIN PGP SIGNATURE-----

iQIzBAEBCgAdFiEE3S3HW3iM8WGcvoEDCGw7Mt+VsJEFAmGPRW4ACgkQCGw7Mt+V
sJG37hAAmee4RQySD8l/PocNiwx5sS5TTyfr8BRcxtA3LOOuM4c1Wk2mNUDkBgEw
O/RP7tGKrXakn7tay4wFkwP6ZQmrGEEK0HgHgzu9n/ZBNgIX2jgOgb7zJDsuynaG
MyN/O6cBthGFgR8Trr2mWqM6ep/IWZvAD4M8CFaWx3BRRnodLMtAsiyjZAJAttEA
D1tNKUbHQoPYwdJJkNKcJ9pEH6z7W3yBx80ZXSEYuSXt0luB4P4kWfQ0hu5wsu0a
I24fWhVWOeOo++2cxuXM8HY5NPhX3RIhf9KQz+eEMx5EP8Io3VOjkp0NZCj822qh
Y5x4Un6uoOjpdOusNIk7ZjKHWD4+6gkzc/TOSf2lD6bNdbAVX2nHDrXBrxiCl7WP
KbWaIFD9hJ0oEvBJfefYdHFC8TXZ/v9zl+5aBwqPybLpwMT1XusrVH2gDgI6JLX0
Mn3b30AmXRDA4WlIcgh6N1WNpY5CoXpnYJjWFC7zngmm2taUwbrSuTjKYUpFhBG/
oiSGNBr1Qz7BdCvetmaHtWwYfRaaXYliWGg2jLlRsvmpl7pcuiREt5Oak/oxIYUU
/f1MqyW+KlhthOYsuLFX77Y9kwuZzZ0OSYUG9EkWEBTw80H+b9Eg1r32FVL3gEP/
/M4cEGCGYYHvHVor5yv+D9M7uGSVyL6s5m4j4B6HIPMYd5gLFZQ=
=NlA1
-----END PGP SIGNATURE-----</code></pre>

    </div>

    <hr class="mt-5 mb-5" />

    <div>
        <h3>New website name</h3>
        <div class="mb-3"><time datetime="2021-08-23 00:00">Sep 08, 2021</time></div>

        <pre><code>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

New name for the website will be "DarkForest".
And here is the new onion link
http://dkforestseeaaq2dqz2uflmlsybvnq2irzn4ygyvu53oazyorednviid.onion
-----BEGIN PGP SIGNATURE-----

iQIzBAEBCAAdFiEE3S3HW3iM8WGcvoEDCGw7Mt+VsJEFAmFYEDgACgkQCGw7Mt+V
sJHUthAAi8MnNFYnQoujdn9Vc/TQ64WcBt07v0zKq3ebp8GaYlPhMVrWQs3eBHiv
vKhH2RXEn9MlgiNz64KfW+54jjPc0iw633VaMHzS+fy09Ec5LMfCvLySUnFgg7gf
GjBxU0K3cpcxBp/jai9HjDxLS95KNWalw3sPWEcIyUYgoNB1uuzLd/NrINVISujR
rvuYTFlc57UkzwgJJ4oTjvoA1VwJIkJh8mhccxt5ZAWJpa6YKkkBqPhxCgWg4taV
dPdTn4LQT84zGX4l61ge/oNWHo/9la+8QXRzU4SGUqbf63Xqfx2kXNquFexLGAI9
qk7srtwJC9ut8z8JHP6aUB7S6AGhAyofmIH4lnstDNAB79luCGaJ2jmrk7E0vvfD
pD9Fuly+MUuG/mgSQir9PU0CTCwleeWHzidM3rAjdHj3W5M7dy2DXwRvUgfqwHFV
Y5kIfg0kZ06jJWv5XoGzXtH5hEJ0cjveBCa6manDytGs166MEjTyjCx2wvFRVW4p
RSFcbJn54RNmBgXsWWHwpCifCq2DwSHNS7+UdSOwPol81u6GhiaAWaGuBQ0No/BJ
4Q7rBkS8Fjy/Wo/MdYBSVgs+X3xNexNvzm3+bmmnFEWKE1/QM5vqrLBuQUeJnImY
XsL3eMSETylYitQKDQ/hISZ8/lcIzxMcZhwTRwl6W0NpKKxM4ks=
=Wqls
-----END PGP SIGNATURE-----</code></pre>

    </div>

    <hr class="mt-5 mb-5" />

    <div>
        <h3>Chat CLI client for "Black Hat Chat"</h3>
        <div class="mb-3"><time datetime="2021-09-01 00:00">Sep 01, 2021</time></div>

        <p>
            This chat client works with both
            <a href="http://blkh4ylofapg42tj6ht565klld5i42dhjtysvsnnswte4xt4uvnfj5qd.onion" rel="noopener noreferrer" target="_blank">Black Hat Chat</a> and
            <a href="http://danschat356lctri3zavzh6fbxg2a7lo6z3etgkctzzpspewu7zdsaqd.onion" rel="noopener noreferrer" target="_blank">Daniel's Chat</a>
            <br />

            Among other productivity features, it also gives you "sound" notifications when someone "tag" you or "pm" you.
            <br />

            This application is written in <a href="https://www.rust-lang.org/" rel="noopener noreferrer" target="_blank">Rust</a> and is open source:<br />
            <a href="http://yylovpz7taca7jfrub3wltxabzzjp34fngj5lpwl6eo47ekt5cxs6mid.onion/n0tr1v/bhcli" rel="noopener noreferrer" target="_blank">http://yylovpz7taca7jfrub3wltxabzzjp34fngj5lpwl6eo47ekt5cxs6mid.onion/n0tr1v/bhcli</a>
            <br />
        </p>

        <a href="/bhcli">Read more</a>
    </div>

    <hr class="mt-5 mb-5" />

    <div>
        <h3>Ransomware RE challenge</h3>
        <div class="mb-3"><time datetime="2021-08-23 00:00">Aug 23, 2021</time></div>

        <pre><code>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

I added a RE (reverse engineering) challenge in the downloads section.
You are provided with an encrypted folder "target" and a program that can both encrypt/decrypt the "target" folder.
The goal is to find the encryption key that has been hardcoded cleartext in the program,
and decrypt the "target/secret.txt.data" file using `./ransomware-re-challenge1 --decrypt --key XXX`
-----BEGIN PGP SIGNATURE-----

iQIzBAEBCAAdFiEE3S3HW3iM8WGcvoEDCGw7Mt+VsJEFAmFYEJAACgkQCGw7Mt+V
sJGwrRAAjHaEXnP0W5CjVFIv86bYb685Fa30GbXQTx1W1m04fvYh0pB8bnrI9nHe
9Mv8LjE9b//cdH0kETxrXpLZdW8idF5Jcj5LXDq3lf0hprbUyiDShVXNEVI3JmQ+
IZIMzESYGo60ZRA/72BvI8Ein2Xt3vikhAv0NfzzmVM874w+MXsQFqXBXBRSFX58
hgwhze0Ie57Lnt5gCjMgTRVCTu/zjrVVLLMuE58B8QYWyxOLoF8X7CoA+pqowv0w
nFvkaiFquLbEh9GLfy6Lt5mqCV+5Q9ZBxjwPxr3m2lKCqMMMEMJZulFcn6Re0yVD
RfQxf6Le6LBI+TKTl4PeMeterPeDdBJroM9jqgNKvHF8vluOYW8xgj0ixlOf/UWd
Oa6Ms6M+m/y1sm738iaxlrmVe7M7ZGgbHZbr1BWf/zQlrYoRWA2TVVlL8MR+iIxj
xBjFkTThuaFx2d9gz91MCyYR91ZU/ghI48bC2aJCV0ElX5LyioxzKCJU61fu2xMH
ZjAsxPK4Da9Gmm5udC2mQFVlGL5ZTFFZdj4mzISrJx8TDlr0zM1lSdhY46bKUXyX
oIxiWs+3qC9Cb2O0imZpXAocQprUIK41GpUHQHaYcX2R6X5TEKzO7emlExTNjncb
akyI6FEzevktzsEj2MA9/71/BW0otmUvC9yeGWNuTjvbW0Akj3s=
=tuaG
-----END PGP SIGNATURE-----</code></pre>

    </div>
</div>

{{ end }}