<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ template "title" . }}</title>
    {{ template "extra-head" . }}
</head>
<body>
    {{ template "content" . }}
</body>
</html>

{{ define "title" }}dkf - news{{ end }}

{{ define "extra-head" }}
    <style>
        time { color: #999; }
    </style>
{{ end }}

{{ define "content" }}

<div class="container">

    {{ range .Data.News }}
        <div>
            <h3>{{ .ForumThread.Name }}</h3>
            <div class="mb-3">
                <time datetime="2021-08-23 00:00">{{ .ForumMessage.CreatedAt.Format "Jan 02, 2006" }}</time> |
                <a {{ .User.GenerateChatStyle | attr }} href="/u/{{ .User.Username }}">{{ .User.Username }}</a>
                {{- if .IsSigned -}}
                    <a href="/t/{{ .ForumThread.UUID }}/messages/{{ .ForumMessage.UUID }}/raw" class="ml-2" title="PGP signed" rel="noopener noreferrer" target="_blank">✅</a>
                {{- end -}}
            </div>
            {{ .Escape $.DB | safe }}
        </div>
        <hr class="mt-5 mb-5" />
    {{ end }}

    <!-- Other content here... -->

</div>

{{ end }}
