<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>
    <meta name="description" content="Get {{ .Data.RakeBackPct }}% rake back when you play poker with our referral program.">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/poker">Poker</a></li>
                <li class="breadcrumb-item active">Rake back</li>
            </ol>
        </nav>

        <h3>{{ template "title" . }}</h3>

        <p>
            When someone registers using your referral code/URL, you will receive <strong>{{ .Data.RakeBackPct }}%</strong> of the rake that this person generates while playing poker.
        </p>

        <hr />

        {{ if .Data.ReferredCount }}
            {{ if .Data.ReferralURL }}
                <div class="form-group">
                    <label>Your referral token:</label>
                    <input type="text" value="{{ .Data.ReferralToken }}" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label>Your referral URL:</label>
                    <input type="text" value="{{ .Data.ReferralURL }}" class="form-control" readonly />
                </div>
            {{ else }}
                <form method="post">
                    <input type="hidden" name="csrf" value="{{ .CSRF }}" />
                    <input type="hidden" name="form_name" value="generate_referral_url" />
                    <button class="btn btn-primary">Generate referral URL</button>
                </form>
            {{ end }}
            <p>
                You referred <strong>{{ .Data.ReferredCount }}</strong> users.
            </p>
        {{ else }}
            <p>
                You haven't referred any users yet.
            </p>
        {{ end }}
        <hr />

        <p>
            If you wish to give your rake back to someone, enter their referral token here.
        </p>

        {{ if .Data.SetReferrerSuccess }}
            <div class="alert alert-success">{{ .Data.SetReferrerSuccess }}</div>
        {{ end }}
        {{ if .Data.SetReferrerError }}
            <div class="alert alert-danger">{{ .Data.SetReferrerError }}</div>
        {{ end }}
        <form method
