{{ define "nav-mb" }} mb-1{{ end }}

{{ define "extra-head" }}
<style>
    #poker-content {
        border: 0;
        position: absolute;
        top: 51px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: calc(100% - 51px);
    }
</style>
{{ end }}

{{ define "title" }}dkf - Poker ({{ .Data.PokerTableSlug }}){{ end }}

{{ define "content" }}
    <iframe id="poker-content" src="/poker/{{ .Data.PokerTableSlug }}/stream"></iframe>
{{ end }}
