{{ define "base" }}<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><title>THIS HIDDEN SITE HAS BEEN SEIZED</title></head>
<body style="background-color:white;background-size:contain;background-image:url('/public/img/seized.png');background-repeat:no-repeat;background-position:center;background-attachment:fixed;"></body>
</html>{{ end }}