<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dkf - torchess</title>
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body>

    <div class="container">
        <h3>TorChess p2p chess over tor</h3>
        <time datetime="2022-03-22 00:00">Mar 22, 2022</time>

        <h4 class="mt-5 mb-4">Requirements</h4>
        <p>
            To host a room, ensure "tor control" is running on port 9051 (<code>ControlPort 9051</code> in your torrc file)</br>
            To join a room, ensure that "tor proxy" is running on port 9050 (<code>SOCKSPort 9050</code> in your torrc file)</br>
        </p>

        <h4 class="mt-5 mb-4">Resources</h4>
        <p class="mt-5 mb-4">
            This application is open source on
            <a href="http://git.dkforestseeaaq2dqz2uflmlsybvnq2irzn4ygyvu53oazyorednviid.onion/n0tr1v/torchess" rel="noopener noreferrer" target="_blank">this git server</a>
            <br />
        </p>

        <p>
            <a href="/torchess/downloads">Download pre-build official application</a>
        </p>

        <img src="/public/img/torchess/1.png" alt="" />

        <h3 class="mt-3">Whonix</h3>

        <p>
            If you are getting <code>failed to get service id: 510 Command filtered</code> error on whonix<br />
        </p>

        <p>
            Follow these steps:
        </p>

        <pre><code>
            ---
            - exe-paths:
                - '*'
              users:
                - '*'
              hosts:
                - '*'
              commands:
                ADD_ONION:
                  - pattern:     'NEW:BEST Flags=DiscardPK Port=80,6790 Port=81,6789'
                    replacement: 'NEW:BEST Flags=DiscardPK Port=80,{client-address}:6790 Port=81,{client-address}:6789'
                DEL_ON
