<script type="text/x-template" id="sub-content-template">
  <h3 class="projects-title">Projects</h3>
  <ul class="projects-list">
    <li><a href="/vip/projects/ip-grabber" lang="en">IP Grabber - A simple IP address grabber tool</a></li>
    <li><a href="/vip/projects/rust-ransomware" lang="en">Rust Ransomware - A proof-of-concept ransomware written in Rust</a></li>
    <li><a href="/vip/projects/malware-dropper" lang="en">Malware Dropper - A tool for creating malware droppers in Windows</a></li>
  </ul>
</script>
