{{ define "sub-content" }}

<h3>Projects</h3>
<ul>
    <li><a href="/vip/projects/ip-grabber">IP grabber</a></li>
    <li><a href="/vip/projects/rust-ransomware">Rust ransomware</a></li>
    <li><a href="/vip/projects/malware-dropper">Malware dropper</a></li>
</ul>

{{ end }}