[Unit]
Description=DarkForest
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/root/dist
ExecStart=/root/dist/darkforest
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
