[Unit]
Description=XMR Wallet RPC Stagenet
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=dkf
WorkingDirectory=/home/dkf
ExecStart=/bin/bash -c 'export MONERO_RPC_USER=<username>; export MONERO_RPC_PASS=<password>; /home/dkf/monero-wallet-rpc --wallet-file /home/dkf/dkf-poker-stagenet.keys --daemon-address 3.10.182.1
