[Unit]
Description=Gogs (Go Git Service)
Documentation=https://gogs.io/docs/
After=syslog.target network.target mariadb.service mysqld.service postgresql.service memcached.service redis.service

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/home/git/gogs
ExecStart=/home/git/gogs/gogs web -c /home/git/gogs/conf/app.ini
Restart=always
Environment=USER=git HOME=/home/git

# Uncomment the following lines if you encounter an HTTP error 500 due to file limits
# LimitMEMLOCK=infinity
# LimitNOFILE=65535

# Security features to harden the service
ProtectSystem=full
PrivateDevices=yes
PrivateTmp=yes
NoNewPrivileges=true

# Configures the service to start on boot
[Install]
WantedBy=multi-user.target
